html,
body {
	height: 90%;
}
body {
	background: #eee;
	color: #222;
	margin: 0;
}
a {
	color: inherit;
}
a:hover {
	color: #aaa;
	text-decoration: none;
}
h3 {
	margin: 0;
	font-size: 18px;
}
button {
	background: none;
	border: 0;
}
.preload * {
    transition: none !important;
}
.row {
	margin: 0;
}
#sidebar {
	background: #f5f5f5;
	border-right: 1px solid #ccc;
	bottom: 0;
	left: -0;
	position: absolute;
	top: 0;
	width: 320px;
	z-index: 1;
}
#edit {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#edit label {
	margin: 0;
}
#edit input.no-border,
#edit label:last-child input {
	border: 0;
}
#edit input,
#edit textarea {
	border: 0;
	border-bottom: 1px solid #ddd;
	font-size: 13px;
	font-weight: normal;
	margin: 2px 0 0;
	outline: 0;
	padding: 6px 0px;
	resize: none;
	transition: border-color .2s;
	width: 100%;
}
#edit textarea {
	resize: vertical;
}
#edit [class*='col-xs-'] {
	padding: 0 10px;
}
#edit .actions {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	height: 51px;
	padding: 12px 15px 0;
}
#edit .actions #export + .button {
	margin-left: 5px;
}
#edit .actions #export:before {
	content: "\f019";
	font: 12px FontAwesome;
}
#edit .theme {
	background: #fff;
	padding: 20px 15px 25px;
}
#edit .theme .dropdown button {
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-top: 5px;
	text-align: left;
	padding: 5px 10px;
	text-transform: capitalize;
	transition: border-color .2s;
	width: 100%;
}
#edit .theme .dropdown.open button,
#edit .theme .dropdown button:hover {
	border: 1px solid #aaa;
}
#edit .theme .dropdown button:before {
	content: "\f0d7";
	color: #ccc;
	font: 11px FontAwesome;
	float: right;
	position: absolute;
	margin: 5px 15px 0 0;
	right: 0;
}
#edit .theme .dropdown.open button:before,
#edit .theme .dropdown button:hover:before {
	color: #888;
}
#edit .theme .dropdown-menu {
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.075);
	width: 100%;
	text-transform: capitalize;
}
#edit .theme .dropdown-menu .version {
	float: right;
	font-family: monospace;
	font-size: 11px;
	line-height: 21px;
	color: #999;
}
#edit .header,
#edit .content {
	background: #fff;
	border-bottom: 1px solid #eee;
}
#edit .header {
	background: #f5f5f5;
	border-bottom-color: #ccc;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	padding: 12px 20px;
	position: relative;
	transition: border .3s linear;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#edit .header:hover {
	background: #f5f5f5;
}
#edit .header:hover:before {
	color: #666;
}
#edit .header:before {
	content: "\f0d8";
	color: #888;
	font: 11px FontAwesome;
	position: absolute;
	margin-top: 7px;
	right: 20px;
}
#edit .collapsed {
	background: #fff;
	border-bottom-color: #eee;
}
#edit .collapsed:before {
	content: "\f0d7";
	color: #ccc;
}
#edit .content strong {
	font-weight: normal;
	font-size: 11px;
	color: #999;
}
#edit .content .row {
	padding: 12px 10px;
}
#edit .array,
#edit .placeholder {
	background: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	margin: 5px 5px 10px;
	overflow: hidden;
}
#edit .handle {
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	cursor: row-resize;
	font-size: 11px;
	padding: 10px 10px;
	position: relative;
}
#edit .handle:before {
	float: right;
	content: "\f0c9";
	font: 14px FontAwesome;
	margin-right: 5px;
	color: #ddd;
	text-align: center;
	text-shadow: 0 1px #fff;
	position: absolute;
	transform: scale(2, 1);
	width: 93%;
}
#edit .handle .button {
	border: none;
	color: #ccc;
	float: right;
	margin-right: -6px;
	margin-top: -6px;
}
#edit .handle .button:hover {
	border: inherit;
	color: #fff;
}
#edit .array .collapse {
	border-top: 1px solid #d4d4d4;
	display: block;
	padding-bottom: 10px;
	overflow: hidden;
}
#edit .add.button {
	margin: 0 5px 5px;
}
#footer {
	border-top: 1px solid #ddd;
	color: #aaa;
	text-align: center;
	margin-top: -1px;
	padding: 30px 0;
	position: relative;
}
#footer a:hover {
	color: #222;
}
#sidebar.ui-resizable-resizing + #preview #overlay {
	width: 100%;
}
#preview {
	background: #fff;
	bottom: 0;
	left: 320px;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: opacity .3s;
	top: 0;
}
#preview.loading {
	opacity: .5;
}
#preview #overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 5px;
}
#preview #iframe {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-e {
	cursor: col-resize;
	width: 7px;
	right: -4px;
	top: 0;
	height: 100%;
	position: absolute;
}
.ui-resizable-e:hover {
	background: rgba(0, 0, 0, .05);
}

.button {
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	font:11px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding; /* for Firefox 3.6 */
	background-clip: padding-box;
	border-radius: 0.2em;
	/* IE hacks */
	zoom: 1;
	*display: inline;
}
.button:hover {
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3c8dde;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	background-image: -moz-linear-gradient(#599bdc, #3072b3);
	background-image: -o-linear-gradient(#599bdc, #3072b3);
	background-image: linear-gradient(#599bdc, #3072b3);
}
.button:active {
	border-color: #2a65a0;
	border-bottom-color: #3884cd;
	background-color: #3072b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
	background-image: -moz-linear-gradient(#3072b3, #599bdc);
	background-image: -ms-linear-gradient(#3072b3, #599bdc);
	background-image: -o-linear-gradient(#3072b3, #599bdc);
	background-image: linear-gradient(#3072b3, #599bdc);
}
.button.danger {
	color: #900;
}
.button.danger:hover,
.button.danger:active {
	border-color: #b53f3a;
	border-bottom-color: #a0302a;
	color: #fff;
	background-color: #dc5f59;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
	background-image: -moz-linear-gradient(#dc5f59, #b33630);
	background-image: -ms-linear-gradient(#dc5f59, #b33630);
	background-image: -o-linear-gradient(#dc5f59, #b33630);
	background-image: linear-gradient(#dc5f59, #b33630);
}
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.user-modal label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
