html,
body {
	height: 100%;
}
body {
	background: #eee;
	color: #222;
	margin: 0;
}
.preload * {
	transition: none !important;
}
a {
	color: inherit;
}
a:hover {
	color: #aaa;
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
label {
	display: block;
	font-weight: normal;
	margin: 0;
}
input {
	background: none;
}
#sidebar {
	background: #fff;
	border-right: 1px solid #ccc;
	bottom: 0;
	left: -0;
	position: absolute;
	top: 0;
	width: 480px;
}
#sidebar #panel {
	overflow: hidden;
	position: relative;
	z-index: 3;
}
#sidebar #panel .inner {
	float: right;
	height: 170px;
	padding: 16px 20px 0;
	position: relative;
	width: 280px;
}
#sidebar .actions {
	overflow: hidden;
}
#sidebar .actions #export, #sidebar .actions #save, #sidebar .actions #save_edit {
	margin-right: 4px;
}
#sidebar .actions #export:before, #sidebar .actions #save:before, #sidebar .actions #save_edit:before {
	font: 12px FontAwesome;
	margin-top: 5px;
}
#sidebar .actions #export:before {
	content: "\f019";
}
#sidebar .actions #save:before, #sidebar .actions #save_edit:before {
	content: "\f0c7";
}
#sidebar .theme {
	color: #999;
	padding-top: 20px;
}
#sidebar .theme strong {
	color: #000;
	display: block;
	font-size: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}
#sidebar .tabs {
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
#sidebar .tabs a {
	border: 1px solid transparent;
	border-bottom: 0;
	border-radius: 2px 2px 0 0;
	float: left;
	padding: 6px 10px 6px;
}
#sidebar .tabs a.active {
	border-color: #ddd;
	background: #fafafa;
}
#sidebar .view {
	font-size: 11px;
	position: absolute;
	bottom: 8px;
	right : 10px;
}
#sidebar .view a {
	margin-right: 10px;
}
#sidebar .view .active {
	color: #d14;
}
#sidebar .tab-pane {
	background: #fafafa;
	border-top: 1px solid #ddd;
	bottom: 0;
	left: 0;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 169px;
	transition: opacity .5s;
	z-index: 1;
}
#sidebar .tab-pane.active {
	opacity: 1.0;
	z-index: 2;
}
#sidebar .tse-scrollable {
	height: 100%;
	width: 100%;
}
#sidebar .tse-scrollbar {
	bottom: 6px;
}
#sidebar .tse-content {
	float: right;
	padding: 20px 20px 40px;
	width: 280px;
}
#themes-list .item {
	display: block;
	padding: 10px 0;
}
#themes-list .item + .item {
	border-top: 1px solid #eee;
}
#themes-list .item:hover,
#themes-list .item.active {
	color: #d14;
}
#themes-list .item:first-child {
	padding-top: 0px;
}
#themes-list .name {
	display: block;
	font-size: 18px;
	overflow: hidden;
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#themes-list .version {
	color: #ccc;
	font-size: 11px;
	float: right;
	margin-top: 7px;
}
#preview {
	background: #fff;
	bottom: 0;
	left: 480px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
#preview #overlay {
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
}
#preview.scroll #overlay {
	display: block;
}
#preview #json-editor {
	border: 0;
	bottom: 0;
	display: none;
	left: 0;
	font: 12px monospace;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	height: 100%;
	outline: 0;
	padding: 20px;
	position: absolute;
	resize: none;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
#preview #json-editor.show {
	display: block;
}
#preview #iframe-wrapper {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
#preview #iframe {
	border: 0;
	height: 100%;
	margin: 0;
	transition: opacity .3s;
	width: 100%;
}
#preview.loading #iframe {
	opacity: .5;
}

.button {
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	font:11px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding;
	background-clip: padding-box;
	border-radius: 0.2em;
}
.button:hover {
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3c8dde;
	background-image: linear-gradient(#599bdc, #3072b3);
}
.button:active {
	border-color: #2a65a0;
	border-bottom-color: #3884cd;
	background-color: #3072b3;
	background-image: linear-gradient(#3072b3, #599bdc);
}
.button.danger {
	color: #900;
}
.button.danger:hover,
.button.danger:active {
	border-color: #b53f3a;
	border-bottom-color: #a0302a;
	color: #fff;
	background-color: #dc5f59;
	background-image: linear-gradient(#dc5f59, #b33630);
}
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.user-modal label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

/**
 * TrackpadScrollEmulator
 * Version: 1.0.6
 * Author: Jonathan Nicol @f6design
 * https://github.com/jnicol/trackpad-scroll-emulator
 */
.tse-scrollable {
	position: relative;
	width: 200px;  /* Default value. Overwite this if you want. */
	height: 300px; /* Default value. Overwite this if you want. */
	overflow: hidden;
}
.tse-scrollable .tse-scroll-content {
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.tse-scrollable .tse-scroll-content::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.tse-scrollbar {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 11px;
}
.tse-scrollbar .drag-handle {
	position: absolute;
	right: 2px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	min-height: 10px;
	width: 7px;
	opacity: 0.1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	background: #6c6e71;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}
.tse-scrollbar:hover .drag-handle {
	opacity: 0.7;
	-webkit-transition: opacity 0 linear;
	-moz-transition: opacity 0 linear;
	-o-transition: opacity 0 linear;
	-ms-transition: opacity 0 linear;
	transition: opacity 0 linear;
}
.tse-scrollbar .drag-handle.visible {
	opacity: 0.7;
}
.scrollbar-width-tester::-webkit-scrollbar {
	width: 0;
	height: 0;
}

@media (max-width: 1260px){
	#sidebar {
		width: 320px;
	}
	#preview {
		left: 320px;
	}
}
@media (max-device-width: 1024px) {
	#iframe-wrapper {
		overflow: auto;
	}
}
