html{
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #323B55;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  width: 500px;
  margin: 120px 0 0;
}
.login-page, .register-page {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
}
.login-page div {
  position: absolute;
  top: 20%;
  margin-top: -25px;
  display: block;
  width: 100%;
  text-align: center;
}
.register-page form {
  width: 220px;
  height: 155px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -110px;
  margin-top: -75px;
}
.register-page form input[type="password"],
.register-page form input[type="email"],
.register-page form input[type="text"],
input[type="password"], input[type="email"], input[type="text"] {
  width: 100%;
  height: 40px;
  positon: relative;
  /*margin-top: 7px;*/
  font-size: 14px;
  color: #444;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .49);
  padding-left: 20px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
  box-shadow: inset 0px 2px 0px #d9d9d9;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.register-page form input[type="submit"] {
  width: 100%;
}

.tab-content input,
.jumbotron input {
  width: 300px;
}
.tab-content select,
.jumbotron select {
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: #f2f2f2;
}
.tab-content form,
.jumbotron form {
  width: 310px;
  margin: 50px auto 0;
}







.btn.btn-success {
  background-color: #7fc224;
}
.btn.logout {
  display: none;
  margin: 20px 15px 0 0;
}
.uniq-link {
  cursor: pointer;
}
.additional-fields {
  width: 280px;
  padding: 20px;
  float: right;
  font-family: monospace;
  color: #999;
  font-size: 11px;
}
.additional-fields select {
  width: 100%;
  height: 25px;
  background-color: #f2f2f2;
}
.user-resumes li p {
  font-size: 14px;
  margin: 0 0 5px;
}
#allOriginal h4 span {
  font-style: italic;
}
.delete-guid {
  margin-left: 10px;
}
